/* Estilos para el elemento HTML */
html {
    /*font-size: 62.5%;*/
    box-sizing: border-box;
}

/* Estilos para el elemento body */
body {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'poppoins', sans-serif;
    margin: 0%;
}

/* Estilos para los tabs */
.tabs {
    display: flex;
    flex-wrap: wrap;
    width: 35rem;
}


/* Estilos para las etiquetas de los tabs */
.tabs label {
    order: 1;
    display: block;
    padding: 1rem 1.5rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background-color: red;
    font-weight: bold;
    transition: background ease 1s;
}

/* Estilos para el contenido de los tabs */
.tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    height: 15rem;
    display: none;
    padding: 1rem;
    background-color: #fff;
}

/* Estilos para los input de tipo radio */
.tabs input[type="radio"] {
    display: none;
}

/* Estilos para la etiqueta del tab activo */
.tabs input[type="radio"]:checked + label {
    background-color: #fff;
}

/* Estilos para el contenido del tab activo */
.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}